* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.MuiCardHeader-title {
  color:darkgreen;
  font-size: 40px;
  font-weight: bold;
}

.cardTitle {
  color: #286C27;
  font-size: 40px;
  font-weight: bold;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: white
}

a {
  color: inherit;
  text-decoration: none;
}

h4 {
  color:darkgreen;
  font-size: 40px;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
